.dijitDialog {
    color: #F00;
    background-color: #000;  
}

.dijitDialogTitleBar {
    color: #F00;
    background-color: #000;  
}

.dijitDialogTitle {
    color: #F00;
    background-color: #000;  
}

.dijitDialogCloseIcon {
    color: #F00;
    background-color: #000;  
}

.closeText {
    color: #F00;
    background-color: #000;  
}

.dijitDialogPaneContent {
    color: #F00;
    background-color: #000;  
}
