<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body><div>
<table style="" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td>


<table style="" align="right" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody><tr style="">

<td style="">

<table style="" align="left" border="0" cellpadding="0" cellspacing="4" width="0">
<tbody><tr style="">
<td style="" id="${id}_title">&nbsp;&nbsp;&nbsp;</td>
</tr>
</tbody></table>

</td>

<td style="">

<table style="" align="right" border="0" cellpadding="0" cellspacing="0" width="0">
<tbody><tr style="">
<td style="" id="${id}_itemsLabel"></td>
<td style="" id="${id}_itemsFilter"></td>
<td style="" id="">&nbsp;&nbsp;&nbsp;</td>
<td style="" id="${id}_pagesLabel"></td>
<td style="" id="${id}_pagesFilter"></td>
<td style="" id="${id}_totalPagesLabel"><label style="" id="${id}_totalPages"></label></td>
<td id="${id}_options" style=""></td>
</tr>
</tbody></table>

</td>

</tr>

<tr>
<td colspan="2">

<div id="${id}_optionsButtons" style="display: none;">
<table style="" align="right" border="0" cellpadding="0" cellspacing="0" width="100%">
<tbody><tr style="">
<td style="">

<div id="${id}_optionsButtonsContent" align="right">
</div>

</td>
</tr>
</tbody></table>
</div>

</td>
</tr>

</tbody></table>


</td>
</tr>
<tr>
<td>
<div id="${id}_gridContainer"></div>
</td>
</tr>

<tr>
<td>
<table style="" border="0" cellpadding="0" cellspacing="0" width="100%">

<tbody><tr style="">

<td style="">
<table style="" align="left" border="0" cellpadding="0" cellspacing="4" width="0">
<tbody><tr style="">
<td id="${id}_zoom" style=""><div id="${id}_loadingNode" style="display: none;"> <img id="${id}_loadingImage" src="Grid_files/ajax-loader.htm"> Loading.. </div></td>
</tr>
</tbody></table>
</td>

<td style="">
<table style="" align="right" border="0" cellpadding="0" cellspacing="4" width="0">
<tbody><tr style="">
<td style="" id="${id}_filtersLabel"></td>
<td style="" colspan="5" id="${id}_filters"></td>
</tr>
</tbody></table>
</td>

</tr>

</tbody></table>
</td>
</tr>

</tbody></table>
</div></body></html>